#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.tlb
*.tlh
*.lib
[Tt]est[Rr]esult*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf
*.ipch
ProjectScion/ProjectScion.vcxproj.filters.BACKUP.2668.filters
ProjectScion/ProjectScion.vcxproj.filters.LOCAL.2668.filters
ProjectScion/ProjectScion.vcxproj.filters.REMOTE.2668.filters
ProjectScion/ProjectScion.vcxproj.filters.BASE.2668.filters
